<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="CrocoIt\Popup\Api\PopupRepositoryInterface"
                type="CrocoIt\Popup\Service\PopupRepository" />

    <preference for="CrocoIt\Popup\Api\Data\PopupInterface"
                type="CrocoIt\Popup\Model\Popup" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="crocoit_popup_listing_data_source" xsi:type="string">CrocoIt\Popup\Model\ResourceModel\Popup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
`
    <type name="CrocoIt\Popup\Model\ResourceModel\Popup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">crocoit_popup</argument>
            <argument name="eventPrefix" xsi:type="string">crocoit_popup_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">popup_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">CrocoIt\Popup\Model\ResourceModel\Popup</argument>
        </arguments>
    </type>

    <type name="CrocoIt\Popup\Model\ResourceModel\Popup\CollectionFactory">
        <arguments>
            <argument name="popup" xsi:type="object">CrocoIt\Popup\Model\ResourceModel\Popup</argument>
        </arguments>
    </type>

</config>
